@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.ttf") format("truetype");
}
