body {
  font-family: "Barlow", "Calibri", "Trebuchet MS", sans-serif;
  font-weight: 300;

  color: $c-darker;

  background: transparent;
  padding: 0;
  margin: 0;

  div#root {
    width: 100vw;
    height: 100vh;
  }
}

* {
  box-sizing: border-box;
}
